<h1>{{name}}</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th data-field="name">Item</th>
        </tr>
    </thead>
        <tr><td>{{name}}</td></tr>
        <tr><td>{{description}}</td></tr>
        <tr><td>{{formattedDimension}}</td></tr>
        <tr><td>{{formattedPrice}}</td></tr>
</table>
{{outlet}}