<div>Hi Mr. {{firstName}} {{lastName}}</div><br>
<div> Last Name is disabled: {{nameDisabled}}<br></div>
<br>
<div>First Name : {{input value=firstName size=20 }}</div>
<div> Last Name : {{input value=lastName disabled=nameDisabled}}</div>
<br><br>
<div>Enable last name ? {{input type="checkbox" checked=nameDisabled}}</div>