
<h3> Book Details for {{model.title}}</h3>
<ul>
<li> id: {{model.id}}</li>
<li> title: {{model.title}} </li>
<li> isbn: {{model.isbn}} </li>
<li> pages: {{model.pages}} </li>
<li> description: {{model.description}} </li>
</ul>


<h3>Publisher Details</h3>
<ul>
<li> Publisher Name: {{model.publisher.name}}</li>
<li> Publisher Organization Name: {{model.publisher.organizationName}}</li>
<li>Publisher Address: {{model.publisher.address}}</li>
</ul>

<h3>Author Details</h3>
<ul>
{{#each author in model.authors}}
    <li>{{author.fullName}}</li>
    <li>{{author.bio}}
{{/each}}
</ul>


<h3>Reviews</h3>
{{#each review in model.reviews}}
<ul>
    <li>{{review.name}}</li>
    <li>{{review.comment}}
</ul>
{{/each}}
