
<h3> Book Details for {{model.title}}</h3>
<ul>
<li> id: {{model.id}}</li>
<li> title: {{model.title}} </li>
<li> isbn: {{model.isbn}} </li>
<li> pages: {{model.pages}} </li>
<li> description: {{model.description}} </li>
</ul>
